*{
    margin: 0px;
    padding: 0px;

}
.wrapper{
    width: 100%;
    height: auto;
}
.header{
    width: 100%;
    height: 300px;
    border: 1px solid white;
}
.navbar{
    width: 100%;
    height: 80px;
    border: 1px solid white;
    background-color:rgba(47,23,15,.9);
    }
.content{
    width: 50%;
    height: 600px;
    border: 1px solid white;
    margin: auto;
    
    }